
*{
  /* margin: 0;
  padding: 0; */
  /* background-color: white; */
}
.main{
  
  display: flex;
  margin-top : 10px;
  /* margin-right: 20px; */
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  /* background-color: rgb(62, 104, 141); */
  width: 70vw;
  height: fit-content;
  justify-content: space-around;
  align-items: center;
  
  
}
.card{
  /* margin-top: 20px; */
  height: 25vh;
  width: 15vw;
  background-color: #F5F0CD;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
   
}

.card img{
  height: 20%;
  width: 16%;
  background-color: transparent;
  
}



span{
  color : #113F67;
  background-color: transparent;
}


.card .card_num{
  font-size: 2em;
  font-weight: bold;
}
.card .card_title{
  font-weight: bold;
}


.table{
  table-layout: fixed;
  width: 70vw;
  margin: auto;
  border-radius: 10px;
  background-color: #ced4da;
}

th{
  padding: 15px;
  text-align: center;
  overflow: hidden;
}

 .dataTable_td {
  padding: 15px;
  text-align: center;
  overflow: hidden;
  /* background-color: #e9ecef; */
}
.tableFooter button {
  background-color:  grey;
  cursor: pointer;
  padding : 0.2rem;
  border-radius : 5px;
  color : white;
   
}

.deliveryMain{
  /* background-color: #e9ecef; */
  height: 80vh;
  width: 70vw;
  margin: auto;
}

.deliveryPageHeader{
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}



.deliveryPageTable{
  /* table-layout: fixed; */
  width: 70vw;
  margin: 2em auto auto auto;
  border-radius: 10px;
  background-color: #ced4da;
  
}



td{
  padding: 15px;
  text-align: center;
  overflow: hidden;
  justify-content: center;
}
.deliveryPageTable tbody tr:nth-child(odd) {
  background-color: #e9ecef;
}


.deliveryPageHeader button{
  background-color: greenyellow;
  padding: 0.8em;
  border-radius: 10px;
  cursor: pointer;
}



.deliveryPageTableBody tr{
  cursor: pointer;
}






